{% extends 'base.html' %}

{% load url_utils %}

{% block content %}
<div class="right">
  <div class="top">
    <div class="tool">
        <div class="class-info">
            <form method="get" action="/students/">
                <span>班级: </span>
                <select name="grade">
                    <option value="" selected="">请选择班级</option>
                        {% for grade in grades %}
                            <option value="{{ grade.pk }}" {% if grade.pk|stringformat:"s" == current_grade %} selected {% endif %} >
                                {{ grade.grade_name }}
                            </option>
                        {% endfor %}
                </select>
                <span>姓名/学号:</span>
                <input type="text" name="search">
                <input type="submit" value="搜索">
            </form>
        </div>
        <div class="actions">
            <button type="button" class="add" id="add">新增</button>
            <button type="button" class="del" id="del-all">批量删除</button>
            <button type="button" class="import" id="import">导入</button>
            <button type="button" class="export" id="export">导出</button>
        </div>
    </div>
  </div>
  <div class="bottom">
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>姓名</th>
                <th>班级</th>
                <th>学号</th>
                <th>性别</th>
                <th>生日</th>
                <th>联系电话</th>
                <!-- <th>地址</th> -->
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
           {% for student in students %} 
            <tr>
                <td><input type="checkbox" name="student_ids" value="{{ student.pk }}"></td>
                <td>{{ student.student_name }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.student_number }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.birthday }}</td>
                <td>{{ student.contact_number }}</td>
                <td>
                    <a href="{% url 'student_update' student.pk %}" class="btn btn-primary btn-sm edit">编辑</a>
                    <a href="{% url 'student_delete' student.pk %}" class="btn btn-danger btn-sm del">删除</a>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>

  <!-- 分页导航 -->
  <div class="pagination">
      <span class="step-links">
          <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% search_url request page=1 %}">&laquo; 首页</a>
                <a href="?{% search_url request page=page_obj.previous_page_number %} ">上一页</a>
            {% endif %}

            <span class="current">
                 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?{% search_url request page=page_obj.next_page_number %}">下一页</a>
                <a href="?{% search_url request page=page_obj.paginator.num_pages %}">尾页 &raquo;</a>
            {% endif %}
        </span>


      </span>
  </div>
  </div>

</div>

<script>
    // 全选
    document.addEventListener('DOMContentLoaded', function () {
        // 获取全选复选框元素
        const selectAllCheckbox = document.getElementById('select-all');
        
        // 监听全选复选框的点击事件
        selectAllCheckbox.addEventListener('change', function () {
            // 获取所有 name 为 'student_ids' 的复选框
            const studentCheckboxes = document.querySelectorAll('input[name="student_ids"]');
            
            // 根据全选复选框的选中状态设置每个学生复选框的状态
            studentCheckboxes.forEach(function(checkbox) {
                checkbox.checked = selectAllCheckbox.checked;
            });
        });
    });


    // 点击新增
    document.getElementById('add').addEventListener('click', function() {
        Swal.fire({
		  position: "top-end",
		  html: `<iframe src="{% url 'student_create' %}" width="100%", height="800px" frameborder="0" > <iframe>`,
		  width: 600,
          showConfirmButton: false
		});
    });

    // 点击编辑
    document.querySelectorAll('.edit').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault(); // 阻止跳转
            url = this.getAttribute('href')
            Swal.fire({
                position: "top-end",
                html: `<iframe src="${url}" width="100%", height="800px" frameborder="0" > <iframe>`,
                width: 600,
                showConfirmButton: false
            });
        })
    })

    // 点击删除
    document.querySelectorAll('.btn-danger').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault(); // 阻止跳转
            url = this.getAttribute('href')
            Swal.fire({
                title: "确认删除?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "删除",
                confirmButtonColor: "#d33",                
            }).then((result) => {
                if (result.isConfirmed) {
                    // 向后台发送数据
                    fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': '{{ csrf_token }}', 
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            Swal.fire("Deleted!", data.messages, "success");
                            window.location.reload();
                        } else {
                            Swal.fire("Error!", data.messages, "error")
                        }
                        
                    })
                }
            })
        })
    })

    // 批量删除
    document.getElementById('del-all').addEventListener('click', function(){
        // 是否有学生被选择
        const checkboxes = document.querySelectorAll('input[name="student_ids"]:checked');
        if (checkboxes.length === 0) {
            Swal.fire({
                title: "错误",
                text: "请先选择要删除的学生信息",
                icon: "error",
                confirmButtonText: "好的"
            });
            return ;
        }
        // 如果有被选中，则fetch发送请求
        Swal.fire({
            title: "确认删除选中的数据?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "删除",
            confirmButtonColor: "#d33",
        })
        .then((result) => {
            if (result.isConfirmed) {
                // 创建一个表单对象
                const formData = new FormData()
                // 遍历所有选择的数据
                checkboxes.forEach((checkbox) => {
                    formData.append('student_ids', checkbox.value)
                })
                fetch("{% url 'student_bulk_delete' %}", {
                    method: 'POST',
                    headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': '{{ csrf_token }}', 
                        },
                    body: formData                
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                            Swal.fire("Deleted!", data.messages, "success");
                            window.location.reload();
                    } else {
                        Swal.fire("Error!", data.messages, "error")
                    }
                })
            }
        })
    })
    // 导入excel
    document.getElementById('import').addEventListener('click', function() {
        Swal.fire({
            title: '上传学生信息Excel',
            input: 'file',
            inputAttributes: {
                'accept': '.xlsx',
                'aria-label': 'Upload your Excel file'
            },
            showCancelButton: true,
            confirmButtonText: 'Upload',
            showLoaderOnConfirm: true,
            preConfirm: (file) => {
                // 处理文件上传的逻辑，例如使用 FormData 和 fetch API 上传文件
                const formData = new FormData();
                formData.append('excel_file', file);
                     
                return fetch('{% url "upload_student" %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken':  "{{ csrf_token }}" // 确保添加 CSRF 令牌
                    },
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'error') {
                        throw new Error(data.messages); // 直接抛出错误，让 catch 块处理
                    }
                })
                .catch(error => {
                    console.log(error);
                    Swal.showValidationMessage(`${error.messages || error }`);
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Uploaded!',
                    text: '上传成功.'
                })
                window.location.reload();
            }
        });        
    })

    // 导出excel 
    document.getElementById('export').addEventListener('click', function() {
        // 检查是否选择了班级
        var select = document.querySelector('select[name="grade"]');
        var value = select.value;
        var gradeText = select.options[select.selectedIndex].text;
        if (!value) {
            Swal.fire({
                title: '错误!',
                text: '请选择一个班级!',
                icon: 'error',
                confirmButtonText: '确定'
            });
            return ;            
        }
        // 提交请求
        Swal.fire({
            title: '确认',
            text: '导出【' + gradeText + '】学生信息',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '确认',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {
                // 发送请求
                fetch('{% url "export_excel" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }, 
                    body: JSON.stringify({grade: value})
                })
                .then(response => {
                    if (!response.ok) {
                        response.json().then(result => {
                            Swal.fire({
                                title: '下载失败',
                                text: '服务器错误: ' + result.messages,
                                icon: 'error',
                                confirmButtonText: '关闭'
                            });
                        });
                        throw new Error('网络或服务器错误');
                    }
                    return response.blob();
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download =  gradeText + '.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    // 清理并移除元素
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                })

            }
        })


    })


</script>

{% endblock %}